.wrapper{
  display: flex;
  width: 400px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
.input{
outline: 0;
border: 0;
width: 100%;
padding-right: 30px;
}
.imageWrapper{
  display: flex;
  align-items: center;
  margin-left: auto;
}
.image:last-child{
margin-left: 10px;
}