.button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  height: 41px;
  border: 0;
  outline: 0;
  border-radius: 100px;
  cursor: pointer;
}
.button:last-child{
  margin-left: 23px;
}