.top{
  background: #3F3F3F;
  color: #fff;
  height: 40px;
  padding: 10px 0;
}

.inner, 
.location{
  display: flex;
  align-items: center;
}
.location{
  margin-left: 10px;
}
.town{
  font-size: 12px;
}
.text{
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
}