.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
.label{
  font-weight: 500;
  margin-bottom: 5px;
}
.input{
  border: 1px solid #E4E7E9;
  outline: 0;
  padding: 12px 12px 12px 16px;
  margin-bottom: 17px;
}
.button{
  display: flex;
  justify-content: center;
}